# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Maps and Datasets (Do NOT push multi-gigabyte media to github!)
*.tif
*.tiff
*.jpg
*.JPG
*.png
*.PNG
*.csv

# Specific test directories
Test photos/
Test photos 2/
Test photos 3/
Test*/

# Local logs
*.txt
*.json
